/IKEA_BaigiamasisDarbas/bin/Debug/chromedriver.exe
/IKEA_BaigiamasisDarbas/bin/Debug/geckodriver.exe
/IKEA_BaigiamasisDarbas/bin/Debug/IKEA_BaigiamasisDarbas.dll
/IKEA_BaigiamasisDarbas/bin/Debug/IKEA_BaigiamasisDarbas.pdb
/IKEA_BaigiamasisDarbas/bin/Debug/nunit.engine.api.dll
/IKEA_BaigiamasisDarbas/bin/Debug/nunit.engine.core.dll
/IKEA_BaigiamasisDarbas/bin/Debug/nunit.engine.dll
/IKEA_BaigiamasisDarbas/bin/Debug/nunit.framework.dll
/IKEA_BaigiamasisDarbas/bin/Debug/nunit.framework.xml
/IKEA_BaigiamasisDarbas/bin/Debug/nunit_random_seed.tmp
/IKEA_BaigiamasisDarbas/bin/Debug/NUnit3.TestAdapter.dll
/IKEA_BaigiamasisDarbas/bin/Debug/NUnit3.TestAdapter.pdb
/IKEA_BaigiamasisDarbas/bin/Debug/testcentric.engine.metadata.dll
/IKEA_BaigiamasisDarbas/bin/Debug/WebDriver.dll
/IKEA_BaigiamasisDarbas/bin/Debug/WebDriver.Support.dll
/IKEA_BaigiamasisDarbas/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/IKEA_BaigiamasisDarbas/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/IKEA_BaigiamasisDarbas/obj/Debug/IKEA_BaigiamasisDarbas.csproj.AssemblyReference.cache
/IKEA_BaigiamasisDarbas/obj/Debug/IKEA_BaigiamasisDarbas.csproj.CoreCompileInputs.cache
/IKEA_BaigiamasisDarbas/obj/Debug/IKEA_BaigiamasisDarbas.csproj.FileListAbsolute.txt
/IKEA_BaigiamasisDarbas/obj/Debug/IKEA_BaigiamasisDarbas.dll
/IKEA_BaigiamasisDarbas/obj/Debug/IKEA_BaigiamasisDarbas.pdb
/packages/NUnit.3.13.2/.signature.p7s
/packages/NUnit.3.13.2/build/NUnit.props
/packages/NUnit.3.13.2/CHANGES.md
/packages/NUnit.3.13.2/icon.png
/packages/NUnit.3.13.2/lib/net35/nunit.framework.dll
/packages/NUnit.3.13.2/lib/net35/nunit.framework.xml
/packages/NUnit.3.13.2/lib/net40/nunit.framework.dll
/packages/NUnit.3.13.2/lib/net40/nunit.framework.xml
/packages/NUnit.3.13.2/lib/net45/nunit.framework.dll
/packages/NUnit.3.13.2/lib/net45/nunit.framework.xml
/packages/NUnit.3.13.2/lib/netstandard2.0/nunit.framework.dll
/packages/NUnit.3.13.2/lib/netstandard2.0/nunit.framework.xml
/packages/NUnit.3.13.2/LICENSE.txt
/packages/NUnit.3.13.2/NOTICES.txt
/packages/NUnit.3.13.2/NUnit.3.13.2.nupkg
/packages/NUnit3TestAdapter.4.1.0/.signature.p7s
/packages/NUnit3TestAdapter.4.1.0/build/net35/nunit.engine.api.dll
/packages/NUnit3TestAdapter.4.1.0/build/net35/nunit.engine.core.dll
/packages/NUnit3TestAdapter.4.1.0/build/net35/nunit.engine.dll
/packages/NUnit3TestAdapter.4.1.0/build/net35/NUnit3.TestAdapter.dll
/packages/NUnit3TestAdapter.4.1.0/build/net35/NUnit3.TestAdapter.pdb
/packages/NUnit3TestAdapter.4.1.0/build/net35/NUnit3TestAdapter.props
/packages/NUnit3TestAdapter.4.1.0/build/net35/testcentric.engine.metadata.dll
/packages/NUnit3TestAdapter.4.1.0/build/netcoreapp2.1/nunit.engine.api.dll
/packages/NUnit3TestAdapter.4.1.0/build/netcoreapp2.1/nunit.engine.core.dll
/packages/NUnit3TestAdapter.4.1.0/build/netcoreapp2.1/nunit.engine.dll
/packages/NUnit3TestAdapter.4.1.0/build/netcoreapp2.1/NUnit3.TestAdapter.dll
/packages/NUnit3TestAdapter.4.1.0/build/netcoreapp2.1/NUnit3.TestAdapter.pdb
/packages/NUnit3TestAdapter.4.1.0/build/netcoreapp2.1/NUnit3TestAdapter.props
/packages/NUnit3TestAdapter.4.1.0/build/netcoreapp2.1/testcentric.engine.metadata.dll
/packages/NUnit3TestAdapter.4.1.0/NUnit3TestAdapter.4.1.0.nupkg
/packages/Selenium.Firefox.WebDriver.0.27.0/.signature.p7s
/packages/Selenium.Firefox.WebDriver.0.27.0/build/Selenium.Firefox.WebDriver.targets
/packages/Selenium.Firefox.WebDriver.0.27.0/driver/geckodriver.exe
/packages/Selenium.Firefox.WebDriver.0.27.0/Selenium.Firefox.WebDriver.0.27.0.nupkg
/packages/Selenium.Support.4.0.1/.signature.p7s
/packages/Selenium.Support.4.0.1/images/icon.png
/packages/Selenium.Support.4.0.1/lib/net45/WebDriver.Support.dll
/packages/Selenium.Support.4.0.1/lib/net46/WebDriver.Support.dll
/packages/Selenium.Support.4.0.1/lib/net47/WebDriver.Support.dll
/packages/Selenium.Support.4.0.1/lib/net48/WebDriver.Support.dll
/packages/Selenium.Support.4.0.1/lib/net5.0/WebDriver.Support.dll
/packages/Selenium.Support.4.0.1/lib/netstandard2.0/WebDriver.Support.dll
/packages/Selenium.Support.4.0.1/lib/netstandard2.1/WebDriver.Support.dll
/packages/Selenium.Support.4.0.1/Selenium.Support.4.0.1.nupkg
/packages/Selenium.WebDriver.4.0.1/.signature.p7s
/packages/Selenium.WebDriver.4.0.1/images/icon.png
/packages/Selenium.WebDriver.4.0.1/lib/net45/WebDriver.dll
/packages/Selenium.WebDriver.4.0.1/lib/net46/WebDriver.dll
/packages/Selenium.WebDriver.4.0.1/lib/net47/WebDriver.dll
/packages/Selenium.WebDriver.4.0.1/lib/net48/WebDriver.dll
/packages/Selenium.WebDriver.4.0.1/lib/net5.0/WebDriver.dll
/packages/Selenium.WebDriver.4.0.1/lib/netstandard2.0/WebDriver.dll
/packages/Selenium.WebDriver.4.0.1/lib/netstandard2.1/WebDriver.dll
/packages/Selenium.WebDriver.4.0.1/Selenium.WebDriver.4.0.1.nupkg
/packages/Selenium.WebDriver.ChromeDriver.96.0.4664.4500/.signature.p7s
/packages/Selenium.WebDriver.ChromeDriver.96.0.4664.4500/build/DefinePropertiesChromeDriver.targets
/packages/Selenium.WebDriver.ChromeDriver.96.0.4664.4500/build/Selenium.WebDriver.ChromeDriver.targets
/packages/Selenium.WebDriver.ChromeDriver.96.0.4664.4500/driver/linux64/chromedriver
/packages/Selenium.WebDriver.ChromeDriver.96.0.4664.4500/driver/mac64/chromedriver
/packages/Selenium.WebDriver.ChromeDriver.96.0.4664.4500/driver/win32/chromedriver.exe
/packages/Selenium.WebDriver.ChromeDriver.96.0.4664.4500/nupkg-icon.png
/packages/Selenium.WebDriver.ChromeDriver.96.0.4664.4500/README.md
/packages/Selenium.WebDriver.ChromeDriver.96.0.4664.4500/Selenium.WebDriver.ChromeDriver.96.0.4664.4500.nupkg
